/*Universal tags*/
#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
  background-color: #011220;
}
ul {
  list-style-type: none;
  text-align: left;
}

/*Navigation*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #011220;
}
.nav ul {
  display: flex;
  gap: 30px;
}

/*Main body section*/
main {
  background-image: url(/BG.png);
  background-position: center;
  background-size: cover;
  min-height: 150vh;
  min-width: 100vw;
}
.intro {
  text-align: left;
  padding-left: 20px;
  min-height: 70vh;
  padding-top: 20vh;
}
.intro p {
  max-width: 30vw;
}
.cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 120px;
  margin-left: 33px;
}
.card {
  max-width: 28vw;
  min-height: 35vh;
  background-color: rgb(145, 145, 137);
  opacity: 85%;
  border-radius: 10px;
  padding: 0 5px;
  color: #ffffff;
}
.card p {
  text-align: left;
}

/*Footer*/
footer h1 {
  max-width: min-content;
}
.footerInfo {
  display: flex;
  justify-content: space-between;
}
.footerInfo h1 {
  text-align: left;
}
.info h3 {
  text-align: center;
}
