.levels {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.level {
  min-width: 28vw;
  min-height: 35vh;
  background-color: rgb(145, 145, 137);
  opacity: 85%;
  border-radius: 10px;
  padding: 0 15px;
  color: #ffffff;
}
.allSubjects,
.allUnits {
  text-align: left;
}

/* individual units */
.unit {
  height: 66px;
  align-content: center;
  padding-left: 1rem;
  color: #ffffff;
  border-radius: 8px;
  margin-bottom: 3px;
}
.unit:hover {
  background-color: rgb(43, 41, 37);
}

/* pdf thumbnails */
.doc-container {
  display: flex;
}
.doc-box {
  background-color: red;
  margin: 5px;
  max-width: fit-content;
}
.doc {
  max-width: 300px;
  background-color: rgb(102, 89, 89);
  overflow: hidden;
  scale: 99%;
}
.page {
  height: 200px;
  overflow: hidden;
}
