main {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}
.display {
  background-color: rgb(230, 154, 61);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px;
  margin: 10px;
}
span {
  color: blueviolet;
}
.cardPara {
  color: rgb(230, 170, 170);
}
.btns {
  display: flex;
  gap: 30px;
}

.container {
  background-color: brown;
  border-radius: 10px;
  padding: 10px;
  height: max-content;
  width: 250px;
  color: aliceblue;
  margin-bottom: 10px;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  row-gap: 300px;
}

header {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  background-color: cornflowerblue;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
